.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px !important;
}
.header div{
  width: max-content ;
}

.header div button{
  margin:0 10px ;
}

.logo{
  color: rgb(242, 242, 242);
  font-size: 20px;
  font-weight: 600;
}