div.introduction{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
  height: 78vh;
}

div.introduction div{
  width: calc(100%/2);
}

div.introduction div:nth-child(1){
  margin-top: 50px;
  padding: 30px 50px;
}

div.introduction div:nth-child(1) p{
  margin-top: 20px;
  max-width: 7500px;
  width: 100%;
  min-width: 350px;
  border: 3px orangered solid;
}

.intro-img-container{
  padding-top: 20px;
}

.intro-img-container img{
  display: block;
  max-width: 400px;
  margin: 20px auto;
}