.qr-codes-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 85%;
  margin: 30px auto;
  padding: 20px;
  gap: 15px;
  align-items: flex-start;
}

.qr-code{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}